### Description
Author: T. Majidzadeh

Date Created: March 9, 2025

Date Updated: March 9, 2025

Purpose: Test difference-in-difference regression for Zillow rent indices, 2015-2019, treatment in Dec 2017. Prototype version assumes "affected" metros are those with at least 35% post-merger penetration rate and at least 10% share gain from the merger.

In [2]:
import pandas as pd
import numpy as np
import statsmodels.api as sm
from datetime import datetime
import json
import os
import re

In [3]:
paths = {
    "zillow_raw": "..\\data\\zillow_data_raw\\",
    "zillow_reg": "..\\data\\zillow_reg_data\\"
}

In [4]:
zillow_reg = pd.read_pickle(paths['zillow_reg']+'zillow_data_reg_proto_20250309.pkl')

In [5]:
zillow_reg['AffectedCityTime'] = zillow_reg \
    .apply(lambda x: x.AffectedCity * x.AffectedTime, axis=1)
zillow_reg['Year'] = zillow_reg['Year'].astype(str)
zillow_reg['Month'] = zillow_reg['Month'].astype(str)

In [6]:
zillow_reg = pd \
    .get_dummies(zillow_reg, columns=['RegionName', 'Year', 'Month'], drop_first = True)
zillow_reg

,StateName,Year-Month,ZORI,AffectedCity,AffectedTime,TimeTrend,ZORI-Lag1,AffectedCityTime,"RegionName_Boston, MA","RegionName_Chicago, IL",...,Month_11,Month_12,Month_2,Month_3,Month_4,Month_5,Month_6,Month_7,Month_8,Month_9
1,NY,2015-01-31,2209.959116,0,0,0,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
2,CA,2015-01-31,1684.237669,0,0,0,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
3,IL,2015-01-31,1366.441879,0,0,0,NaN,0,False,True,...,False,False,False,False,False,False,False,False,False,False
4,TX,2015-01-31,1024.638892,1,0,0,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
5,TX,2015-01-31,1138.420831,0,0,0,NaN,0,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29103,MN,2019-12-31,1389.784723,0,1,59,1386.426145,0,False,False,...,False,True,False,False,False,False,False,False,False,False
29104,CA,2019-12-31,2018.979007,0,1,59,2011.736617,0,False,False,...,False,True,False,False,False,False,False,False,False,False
29105,FL,2019-12-31,1236.871601,1,1,59,1232.537853,1,False,False,...,False,True,False,False,False,False,False,False,False,False
29106,CO,2019-12-31,1538.059242,1,1,59,1539.900116,1,False,False,...,False,True,False,False,False,False,False,False,False,False
29117,NV,2019-12-31,1141.207032,0,1,59,1144.133206,0,False,False,...,False,True,False,False,False,False,False,False,False,False

In [31]:
yvar = 'ZORI'
xvars = [
    'TimeTrend', 
    'AffectedCity', 
    'AffectedCityTime'
]
city_fe = [col for col in zillow_reg.columns if col.startswith('RegionName')]
year_fe = [col for col in zillow_reg.columns if (col.startswith('Year')) & (col != "Year-Month")]
month_fe = [col for col in zillow_reg.columns if col.startswith('Month')]
zillow_reg_base=zillow_reg[[yvar]+xvars+city_fe+year_fe+month_fe].dropna()

Base Model

In [34]:
y = np.asarray(zillow_reg_base[yvar])
X = sm.add_constant(zillow_reg_base[xvars+city_fe+year_fe+month_fe], prepend=True) * 1

In [36]:
mod = sm.OLS(y, X, hasconst=True)
res = mod.fit(cov_type='HC3')
print(res.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:                      y   R-squared:                       0.994
Model:                            OLS   Adj. R-squared:                  0.994
Method:                 Least Squares   F-statistic:                 1.526e+05
Date:                Sun, 09 Mar 2025   Prob (F-statistic):               0.00
Time:                        13:50:39   Log-Likelihood:                -6039.2
No. Observations:                1200   AIC:                         1.215e+04
Df Residuals:                    1164   BIC:                         1.233e+04
Df Model:                          35
Covariance Type:                  HC3
================================================================================================
                                   coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------------------------
const                         1327.2487      5.716    232.210      0.000    1316.046    1338.451
TimeTrend                        5.8094      0.133     43.747      0.000       5.549       6.070
AffectedCity                  -295.3117      3.615    -81.686      0.000    -302.397    -288.226
AffectedCityTime               -18.9039      3.779     -5.002      0.000     -26.310     -11.497
RegionName_Boston, MA          745.5294      3.592    207.556      0.000     738.489     752.569
RegionName_Chicago, IL         -30.6153      5.613     -5.454      0.000     -41.617     -19.614
RegionName_Dallas, TX          -27.0071      3.989     -6.770      0.000     -34.826     -19.188
RegionName_Denver, CO          220.6926      3.853     57.282      0.000     213.141     228.244
RegionName_Detroit, MI        -579.9945      4.328   -134.021      0.000    -588.477    -571.513
RegionName_Houston, TX        -287.1080      8.140    -35.270      0.000    -303.063    -271.153
RegionName_Las Vegas, NV      -518.3731      2.145   -241.699      0.000    -522.577    -514.170
RegionName_Los Angeles, CA     489.7251      8.196     59.751      0.000     473.661     505.789
RegionName_Miami, FL            11.8216      2.831      4.176      0.000       6.273      17.370
RegionName_Minneapolis, MN    -240.1236      2.200   -109.162      0.000    -244.435    -235.812
RegionName_New York, NY        871.4943      4.126    211.226      0.000     863.408     879.581
RegionName_Philadelphia, PA   -159.8771      5.307    -30.127      0.000    -170.278    -149.476
RegionName_Phoenix, AZ        -211.9711      4.343    -48.809      0.000    -220.483    -203.459
RegionName_Riverside, CA      -126.4806      5.899    -21.442      0.000    -138.042    -114.919
RegionName_San Diego, CA       285.4804      7.275     39.239      0.000     271.221     299.740
RegionName_San Francisco, CA  1073.1585      6.172    173.863      0.000    1061.061    1085.256
RegionName_Seattle, WA          87.9233      5.183     16.965      0.000      77.766      98.081
RegionName_Tampa, FL           -98.9672      3.595    -27.528      0.000    -106.014     -91.921
RegionName_Washington, DC      630.0449      5.493    114.706      0.000     619.279     640.810
Year_2016                        2.9050      3.218      0.903      0.367      -3.401       9.211
Year_2017                       -0.7042      2.374     -0.297      0.767      -5.358       3.949
Year_2018                       -3.4200      2.792     -1.225      0.221      -8.892       2.051
Year_2019                      -13.6901      3.517     -3.892      0.000     -20.584      -6.796
Month_10                         9.1762      5.162      1.778      0.075      -0.941      19.293
Month_11                         1.7933      5.110      0.351      0.726      -8.222      11.809
Month_12                        -2.0629      5.023     -0.411      0.681     -11.908       7.782
Month_2                          2.5607      5.935      0.431      0.666      -9.072      14.193
Month_3                          8.0420      5.739      1.401      0.161      -3.206      19.290
Month_4                         13.2457      5.618      2.358      0.018       2.234      24.258
Month_5                         18.4676      5.539      3.334      0.001       7.612      29.323
Month_6                         22.9935      5.461      4.211      0.000      12.290      33.697
Month_7                         24.7451      5.363      4.614      0.000      14.234      35.256
Month_8                         22.7545      5.313      4.283      0.000      12.342      33.167
Month_9                         16.9120      5.257      3.217      0.001       6.609      27.215
==============================================================================
Omnibus:                       71.490   Durbin-Watson:                   2.081
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              124.295
Skew:                          -0.440   Prob(JB):                     1.02e-27
Kurtosis:                       4.308   Cond. No.                     1.50e+17
==============================================================================

Notes:
[1] Standard Errors are heteroscedasticity robust (HC3)
[2] The smallest eigenvalue is 6.26e-29. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

C:\ProgramData\anaconda3\Lib\site-packages\statsmodels\base\model.py:1894: ValueWarning: covariance of constraints does not have full rank. The number of constraints is 37, but rank is 36
  warnings.warn('covariance of constraints does not have full '